@page
@model RestaurantAppCore.Pages.Restaurants.ListModel
@{
}
<h1>Restaurants @Model.Message</h1>
<form class="">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
        <span>
            <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
        </div>
    </div>
</form>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>

        </tr>
    }
</table>