@page
@model RestaurantAppCore.Pages.Restaurants.ListModel
@{
}
<h1>Restaurants @Model.Message</h1>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
    <tr>
        <td>@restaurant.Id</td>
        <td>@restaurant.Name</td>
        <td>@restaurant.Location</td>
        <td>@restaurant.Cuisine</td>

    </tr>
    }
</table>